/* Contacto */

.container {
  max-width: 720px;
}

.tituloContactoGal {
  margin-bottom: 10px;
}

.contenedorCampo {
  margin-inline: 0;
}

.infoPers {
  margin-bottom: 50px;
  font-weight: 100;
}

form {
  margin-top: 30px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 4px;
  color: $colorBotonNegro;
}

input[type="text"],
textarea {
  display: block;
  width: 100%;
  padding: 10px;
  border: 2px solid $colorBotonNegro;
  border-radius: 12px;
  font-size: 12px;
  resize: none;
  margin-bottom: 60px;
}

.botonContactoContainer {
  margin-bottom: 60px;
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
}

@media (max-width: 550px) {
  .botonContactoContainer {
    flex-direction: column;
  }
}

.botonContacto {
  background-color: $colorBotonNegro;
  color: $colorBlanco;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 12px;
  width: 100%;
}
