/* Home */

/* carrousel */

.carousel-inner {
  height: 0;
  padding-bottom: 25%;
}

.carousel-item {
  position: absolute !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  img {
    height: 100%;
    object-fit: cover;
  }
}

/* Cards */

.colorBtn {
  background-color: rgb(81, 53, 40);
  border-color: rgb(81, 53, 40);
}

.margincards {
  margin: 24px;
  gap: 24px;
  align-items: center;
  justify-content: center;
}

.imgCard {
  padding: 0;
}
