/* Menu */

.tituloMenu {
  margin-bottom: 20px;
}

.descripcionMenu2 {
  font-weight: 100;
  font-size: 20px;
  margin-top: 50px;
  margin-bottom: 60px;
}

.tituloMenu3 {
  font-weight: 400;
}

.contenedorImg {
  margin: 30px;
  border: 2px solid $color-borde;
  border-radius: 100%;
  width: 200px;
}

.imgMenu {
  width: 200px;
  height: 200px;
  object-fit: contain;
}

.contenedorMenu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 80px;
  margin-top: 50px;
}
