/* Sobre nosotros */

.tituloNosotros {
  margin-bottom: 50px;
}

@mixin espacioBase {
  font-size: 18px;
  font-weight: 100;
}

.espacioBottom {
  margin-bottom: 15px;
  margin-top: 50px;
  font-size: 28px;
  font-weight: 400;
}

.espacioBottomx2 {
  margin-bottom: 80px;
  margin-top: 15px;
  @include espacioBase;
}
